runtimeClassName: nvidia

migStrategy: none
failOnInitError: true
deviceListStrategy: envvar
deviceIDStrategy: uuid
nvidiaDriverRoot: /
compatWithCPUManager: false

gfd:
  enabled: false

nfd:
  enabled: false
